[2013-03-22 19:54] camspiers opened #18 "Is it possible to tag a release for composer?"
Currently you can only install dev-master which means in composer you have to set the minimum-stability flag to dev (at least for that package). If you could create a tag that would be awesome.

[2013-03-23 20:52] #18 closed, assigned to lstrojny

[2013-04-18 07:06] lstrojny opened #20 "PHP 5.5 compatibility"
The C ext does not compile with 5.5 currently: https://travis-ci.org/lstrojny/functional-php/jobs/6356030

[2013-04-21 17:42] lstrojny opened #22 "New function: F\indexes_of()"
Returns a list of array indexes, either matching the predicate or strictly equal to the the passed value.

[code]

[2013-04-21 17:43] lstrojny opened #23 "Allow passing callables to last_index_of() and first_index_of()"
Allow passing callables to `F\last_index_of()` and `F\first_index_of()` additionally to fixed values.

[2013-04-21 17:44] lstrojny opened #24 "Fix performance of C implementation for iterators and last_index_of()/first_index_of()"
The C implementation of `last_index_of()` and `first_index_of()` is currently slower than the userland equivalent. Look for ways to improve them.

[2013-04-21 17:46] lstrojny opened #25 "Fix performance of C implementation for hash iterators and drop_first()"
The C implementation of `drop_first()` for iterators over hashes is currently slower than the userland equivalent.

[2013-04-21 17:48] lstrojny opened #26 "C implementation for F\memoize()"
The C implementation for F\memoize() is missing.

[2013-04-21 17:49] lstrojny opened #27 "C implementation for F\invoke_if()"
The C implementation for `F\invoke_if()` is missing. Add it!

[2013-04-21 17:51] lstrojny opened #28 "Write docs for php.net"
The docs shouldn’t be part of the README but available at php.net.

[2014-01-24 08:14] #27 closed, assigned to nobody

[2014-04-28 06:20] CMCDragonkai opened #36 "What happens when both extension and userland is installed?"
Imagine where a library uses functional-php's userland implementation, but you've already installed the extension, should the userland implementation give way to the installed extension instead of overwriting it?

[2014-04-28 11:37] #36 closed, assigned to nobody

[2014-05-06 16:02] morrisonlevi opened #37 "map(Traversable, callable) doesn't return a Traversable?"
I'm curious why map() when called with a traversable doesn't return a traversable? Seems odd. What's the design decision there? Simplicity?

[2014-05-07 19:28] brianium opened #38 "Compose, partial application, currying?"
Are there any plans for things like partial function application? Anything like currying or composition? Would pull requests be welcome for something like this or does it go against some design goal?

Cool library btw.

[2014-05-07 19:38] #38 closed, assigned to nobody

[2014-07-03 22:03] gabrielflorit opened #39 "Why does \filter sometime return an array of arrays?"
Say we have a `$towns` array:

[code]

The following

[code]

returns an array of items keyed by the original position:

[code]

but comparing greater than `-1`

[code]

returns the expected structure

[code]

Any thoughts?

[2014-09-07 13:54] psliwa opened #41 "Introduce autocurring and function composition"
What do you think about introducing to functional php autocurring and function composition?

I have created working prototype of library with autocurring, function composition and making`$collection` as last argument: https://github.com/psliwa/rfp

In my opinion it looks promising, allows to take advantage of functional programming in even better way. There is the chance to make new release, aka "

[2014-10-08 20:38] #39 closed, assigned to nobody

[2014-10-08 20:39] #37 closed, assigned to nobody

[2014-10-08 20:40] #20 closed, assigned to lstrojny

[2015-01-14 19:34] tonglil opened #47 "Unable to install C extension on PHP 5.5.20"
Both `sudo pecl install functional-0.6.0` and `sudo pear upgrade -f pecl/functional` end with `ERROR: `make' failed`.

Based on the stack trace, I think it's incompatabilities with the new PHP ZendEngine. The log filtering for 'error':

[code]

I can post the full logs if you want.

[2015-01-15 09:50] lstrojny commented on #47
Full logs would be appreciated. It’s really weird since travis tests are working: https://travis-ci.org/lstrojny/functional-php/jobs/46633089. Could you try installing master (not much change in the C extension anyway).

[2015-02-03 10:45] tonglil commented on #47
I was able to install using phpize, but how can I try using it?

[code]

[2015-02-03 10:52] tonglil commented on #47
And here are the full traces for the pear/pecl installs: https://gist.github.com/tonglil/c8cc3432e60525e583aa

[2015-02-06 22:47] matteosister opened #48 "Is there a roadmap for releasing a 1.0 version?"
A stable 1.0 version is on the way anytime soon?

Many thanks in advance. This is an awesome library!

[2015-02-07 01:14] lstrojny commented on #48
@matteosister generally, I do not plan to change significant APIs before 1.0, the package has been quite stable for a long time now and I am happy with most of the design choices. There are a couple of ideas I have, one of them being to remove the C extension as it doesn’t add that much value, esp. for PHP 5.6 where we can get rid of `call_user_func()` and the like. I would generally be interested

[2015-02-07 07:34] matteosister commented on #48
- I do not use the php extension. It's a pretty large codebase in Symfony2, and we are bringing as many functional approach as possible, but we don't have a pure sysadmin in the team, and composer is a no-brain solution for us.

- we are on php 5.5, because we are using aws elastic beanstalk to deploy our app. We are evaluating a migration to ebs + docker, so we can upgrade immediatly to 5.6. It's

[2015-02-07 10:45] egils commented on #48
* I, personally, on my projects do not use the C extension just because I do not have a need for it. It seems to be working fine on small to medium size projects without any noticeable difference.
* Use both PHP 5.5 and 5.6 now but will migrate all project's server base to PHP 5.6 rather soon.
* So far Functional PHP fit my needs.

[2015-02-07 13:59] colinodell commented on #48
* I don't use the C extension and don't plan on doing so.  The PHP library is as fast as a non-functional approach would be, and that's good enough for me.
* I've used this library on 5.3, 5.4, and 5.5.
* A stable release :)

[2015-03-06 08:54] Ocramius opened #49 "Missing `flatMap`?"
Just wondering if it should be part of the repo :-)

[2015-03-06 09:23] lstrojny commented on #49
Sounds wonderful, PR welcome :)

[2015-03-23 19:34] mpajunen commented on #41
Some very interesting thoughts here. I was inspired by [Ramda.js](https://github.com/ramda/ramda) (as I believe @psliwa also was) and have been working on a similar library for PHP where automatic currying is the main feature: [Phamda](https://github.com/mpajunen/phamda). Currently most of the core functionality is implemented, but for example parameter validation is missing.

Only supporting PHP

[2015-04-23 13:38] msadouni commented on #48
- I don't use the C extension
- I use it on 5.3 for now, migration on 5.6 is planned
- A sort function would be nice, like Ruby [Array.sort](http://ruby-doc.org/core-2.2.2/Array.html#method-i-sort). For now I use `usort` but it modifies the collection.

[2015-04-24 11:30] lstrojny commented on #48
@msadouni interesting idea to add an F\sort() function. Thank you

[2015-04-24 11:31] lstrojny opened #51 "Add sort function"
Behave like `usort` but for traversables and arrays and behaves deterministic

[2015-05-05 18:07] rogerjaffe opened #55 "Documentation for drop_first and drop_last"
The examples show a return value $index === 2 which should be $index <= 2.  The records are dropped as long as the callback returns true.  Records are kept when the callback returns false.

[2015-05-12 14:10] #49 closed

[2015-06-12 09:28] arvidj commented on #48
Hi, is there anything blocking the release of an alpha? I would love the use some of the features that aren't in the latest release, but cannot since my build software forces me to use tagged releases.

[2015-06-12 10:58] lstrojny commented on #55
Fixed, thank you!

[2015-06-12 10:58] #55 closed

[2015-06-12 10:58] #51 closed

[2015-06-12 10:59] lstrojny commented on #41
Closing for now

[2015-06-12 10:59] #41 closed

[2015-06-12 11:33] lstrojny commented on #48
1.0.0-alpha5 is released

[2015-06-12 11:37] matteosister commented on #48
:+1:

[2015-06-12 11:45] arvidj commented on #48
thanks a billion!

[2015-06-15 18:53] jkuchar opened #58 "Older stable releases on packagist?"
There are missing older stable releases on packagist. Do you recommend using newer alfa version in production? If not please add them to packagist. It will make our live easier. Thanks!

[2015-06-15 19:54] jacobsantos commented on #48
I plan on migrating existing functional style code over to this library as standardization process. I would have just rewrote a lot of the functions, which doesn't make any sense. I don't plan on using the PHP extension in the future and will be using composer.

If there aren't any sort functions, then I might do a pull request when I need to do collections or I guess monoids.

[2015-06-16 17:56] lstrojny commented on #58
Yes, please use the alpha versions as they are generally quite stable

[2015-06-16 17:56] #58 closed

[2015-06-19 09:35] #23 closed

[2015-06-19 18:01] lstrojny opened #61 "Add poll() and retry()"
[code]

[code]

[code]

[code]

[code]

### Examples:

Poll for 1000ms with a linear increase:
[code]

Retry calling a function ten times with a 10ms delay in between:
[code]

[2015-06-23 12:12] dovys commented on #61
+1

[2015-06-23 19:28] colinodell commented on #61
+1

[2015-06-23 20:34] lstrojny commented on #48
So, here is the plan: release a 1.0 as far as possible and start working on the following changes for 1.2:

 - Use variadics and callables and bump version requirement to 5.6
 - Use generators for sequences
 - Add partial application function

[2015-06-23 21:23] #26 closed

[2015-06-23 21:23] lstrojny commented on #25
No longer needed

[2015-06-23 21:23] #25 closed

[2015-06-23 21:23] lstrojny commented on #24
No longer needed

[2015-06-23 21:23] #24 closed

[2015-06-23 21:23] lstrojny commented on #47
Won’t fix as the C extension will be removed in 1.2

[2015-06-23 21:23] #47 closed

[2015-06-23 21:57] lstrojny commented on #61
Merged

[2015-06-23 21:57] #61 closed

[2015-06-23 22:15] lstrojny commented on #48
1.0.0 has landed, 1.2 has been merged in to master

[2015-06-25 20:20] #22 closed

[2015-06-26 11:22] #28 closed

[2015-06-26 11:22] lstrojny commented on #28
Docs are part of the GIT repository

[2015-06-26 13:29] #48 closed

[2015-06-26 14:13] theUniC opened #65 "Memoize as a high order function"
What do you think about transforming the ```memoize``` function into a high order function? I think it would become easier to use from the client perspective and it may simplify its internal implementation. I'm thinking of something like

[code]

[2015-06-26 18:17] lstrojny commented on #65
Wouldn’t it be enough to allow passing a callable as $key (third param)? That way we could have backwards compatibility but still support your use case. We could even allow passing a callable as the second argument.

[2015-06-26 23:03] jacobsantos commented on #65
Looking at the implementation, there was no reason to use a `$key`. I implemented it as an object, but this implementation is much cleaner.

[2015-06-27 09:25] theUniC commented on #65
One of the benefits of this approach is that a high order function can easily be functionally composed whereas current ```memoize``` implementation cannot. That's the reason why I suggest the change :)

[2015-06-30 09:50] lstrojny commented on #65
I agree, the higher order function is a very nice way. Now we just have find a way to keep BC somehow. Ideas welcome :)

[2015-07-01 05:53] theUniC commented on #65
Aside from using the splat operator on the ```memoize``` function and analyze the incoming parameters to trigger one behaviour or the other, I cannot think anything else. Another option that comes to my mind would be to leave it for a future 2.0 version. What do you think?

[2015-07-09 18:30] lstrojny commented on #65
We could have a different name, like `memoize_higher_order()`, the name is obviously bad. Suggestions welcome.

[2015-07-09 18:52] theUniC commented on #65
And what about

[code]
... ?

[2015-07-13 06:09] lstrojny commented on #65
Candidates so far:
 - memoize_from()
 - memoize_fn()
 - memoize_func()

Anything else?

[2015-07-13 21:59] theUniC commented on #65
+1 for ```memoize_func``` :)

[2015-07-22 05:52] theUniC commented on #65
May I open a PR with the implementation?

[2015-07-22 11:28] lstrojny commented on #65
Sure!

[2015-07-30 15:10] LukeMauldin opened #66 "Tag latest 5.3 release"
Please tag the latest 5.3 release.  I am attempting to target the release with composer using ``` "lstrojny/functional-php": "dev-master#a91a38bf25a0dbe41a29b23321ad56647389a4ca",``` but I am still getting an error because it is reading the metadata from the master branch: https://getcomposer.org/doc/04-schema.md#package-links

[2015-09-10 00:30] mfdj opened #70 "Possibility of C Extension in future releases"
Some background. I found out about this library via the [Functional Programming in PHP](http://www.functionalphp.com/) book, which is a great read. The author recommends this library and rightly so — it looks really great! I'm excited to start using this more in my work.

I'm opening this issue because I was a little confused. The _Functional Programming in PHP_ author recommended using this libra

[2015-09-10 16:22] jacobsantos commented on #70
* PHP7 will remove any advantage a C extension may have.
 * I don't think the difference between the two would be that great. The optimizations you could get from C don't really work. There is some gains, obviously, but I believe it is more in the range of micro-optimizations for PHP5. PHP7 will have even less advantage.
 * Other extensions that existed to "optimize" PHP userland code ended up wit

[2015-09-13 06:32] lstrojny commented on #70
@mfdj what @jacobsantos said already: the performance differences weren’t that huge (or even not existing) and developing and maintaining it was pretty costly, so I decided to get rid of the burden and go with plain PHP. I added a note to the review though to save the next users some trouble.
Thank you for the report!

[2015-09-13 06:32] #70 closed

[2015-09-13 17:56] mfdj commented on #70
Thanks for discussing @lstrojny and @jacobsantos! What you said makes sense.

One last thought, it might be nice to move the PECL link out of the repositories description, and over to your deprecation message:

![screen shot 2015-09-13 at 10 53 35 am](https://cloud.githubusercontent.com/assets/1110910/9837968/c3958d14-5a05-11e5-94f8-3bcebef05f1b.png)

[2015-11-11 01:01] jbeja opened #76 "Covinience of the reduce?"
Is there any convenience or thought about putting the `$reduction` as the last argument in the function that take `reduce_right|left`?

[2015-11-11 13:28] lstrojny commented on #76
Maybe I misunderstand you but it should be like that already:

[code]

[2015-11-11 18:11] jbeja commented on #76
I meant : Why the `$initial|$reduction` is a the last argument of the function? Any thought why the notation is not: `$callback($initial, $value, $index, $collection)`, which to me is more convenient for most operation that could involve `reducing` without retyping all the arguments every time I need to use.

Are you assuming that the `$index` and the `$collection` are more useful?

[2015-11-12 22:38] lstrojny commented on #76
@jbeja ah, thanks for clarifying, misunderstood you! The reason is consistency with the other functions, where the callee signature is always `$callback($value, $index, $collection)`. That’s why I went with adding `$reduction` as the fourth argument.

[2015-11-12 22:39] lstrojny commented on #76
As changing it would be a B/C break I will close this issue. Hope that’s understandable.

[2015-11-12 22:39] #76 closed

[2015-11-22 16:26] povilasb opened #78 "Collection pipeline feature"
Collectione pipeline is a nice design pattern to transform your collections: http://martinfowler.com/articles/collection-pipeline/.

It would be really nice if this library supported java 8 like streams (https://docs.oracle.com/javase/8/docs/api/java/util/stream/Stream.html):

    int sum = widgets.stream()
                      .filter(w -> w.getColor() == RED)
                      .mapToInt(w -

[2015-11-23 12:00] lstrojny commented on #78
While I like collection pipelines I think this is out of scope for functional PHP.

[2015-11-23 12:00] #78 closed

[2015-11-23 17:32] hoesler opened #81 "First and last should throw an error if the collection is empty."
I my opinion ```fist``` and ```last``` should throw sth like a ```NoSuchElementException``` if the collection is empty instead of returning ```null```. This would avoid the ambiguity with ```null``` as a value.
Further, I would prefer removing the callable argument and introduce a ```find``` function for that purpose.

P.S.: Great library. Thanks!

[2016-03-31 11:17] adamelso opened #84 "More efficient autoloading?"
This is a great library, but unfortunately we may end up having to uninstall it because installing it with Composer has added a huge difference to the page load, as profiled with BlackFire.

(Sadly autoloading functions won't be added to PHP [anytime soon](http://blog.ircmaxell.com/2013/09/rambling-on-internals.html)).

One solution I thought of it adding generation of the functions to Symfony's `

[2016-03-31 12:55] lstrojny commented on #84
As we no longer support the C extension to be installed side-by-side, would a static require list fix it for you?

[2016-03-31 16:04] adamelso commented on #84
@lstrojny Thank you, I'll give it a try and report back :+1:

[2016-04-06 09:32] adamelso commented on #84
I believe this new autoloading is performing better, though it's hard to tell; The relative cost of the Composer autoloading path may have decread by could have been skewed by other changes in our codebase.

<img width="1159" alt="screen shot 2016-04-06 at 10 24 22" src="https://cloud.githubusercontent.com/assets/5972864/14312030/4e4e65f6-fbe2-11e5-80c1-7e9eae0b37d9.png">
<img width="1464" alt="sc

[2016-04-09 19:55] colinodell commented on #78
@lstrojny Would you be willing to reconsider this feature?  I love using your library, but sometimes I do have a need to chain multiple operations together.  Having both the functions and a collection pipeline exposing them would be amazing.

I'd be happy to write the PR if you're interested.  If not, perhaps I could create a separate package which pulls your functions into a pipeline class.

[2016-04-13 16:27] lstrojny commented on #78
@colinodell given a good PR I am happy to reconsider.

[2016-04-13 16:29] lstrojny commented on #84
Alright, the new method should indeed work better. Closing this for now, OK?

[2016-04-13 16:29] #84 closed

[2016-04-14 17:51] adamelso commented on #84
@lstrojny All good, thank you :+1:

[2016-04-15 04:03] sergiors opened #85 "flatten?"
why flatten isn't like this:

[code]

??

[2016-04-16 09:03] lstrojny commented on #85
First of all, it needs to work for any Traversable or array. Other than that, gut feel, the `array_reduce`-version is likely slower.

[2016-04-16 20:15] #85 closed

[2016-05-08 10:56] c9s opened #87 "the removed C extension"
Hi,

I am pretty interested in that extension, would you mind moving the extension into a separated repository?

[2016-05-09 07:10] lstrojny commented on #87
@c9s I am happy for anyone to take it over but I will not maintain it myself anymore. Feel free to pick it up, here is the last revision: 48f934bbc7f412813d01388c27599cc32edca78a

[2016-05-09 07:10] #87 closed

[2016-05-09 07:18] c9s commented on #87
Thanks!

Lars Strojny <notifications@github.com> 於 2016年5月9日 星期一寫道：

[2016-05-09 14:59] cuongthamhl opened #88 "Documentation is hard to use"
I used to be able to search the usage of functions easily since they were all on the same page. After the docs have bee divided into multiple pages, I find it's rather inconvenient when finding usage for a specify function.

I propose that this repo should revert back to the old way of organization for documentations.

[2016-05-13 11:33] lstrojny commented on #88
Understood and sorry it pains you. Would you mind filing a pull request unifying the docs but keeping a table of contents?

[2016-05-20 20:22] ahungry opened #91 "Shouldn't moving to PHP7 be a major version release? (1.0 = php5, 1.2 = php7)"
According to most semantic versioning guidelines (and primarily the ones used by composer on most projects) it should go:

major.minor.bug

Where major allows non-backwards compatible changes, minor is always backwards compatible but offers new features, and bug is for general bugfix/maintenance.

In the case of the lstrojny/functional-php package, it is possible to have a composer.json with somet

[2016-05-20 20:24] ahungry commented on #88
You should rewrite the docs into an emacs org-mode file (it allows export to texinfo, man format, and html/pdf, and markdown - gives you a TOC for free too).

Maybe I'll set this up for you sometime

[2016-05-20 20:26] ahungry commented on #81
In most lisps, returning an element from an empty collection results in 'nil' (which is like false and null combined in lisp, but closest to null in php).

I disagree with throwing an error in such cases, although perhaps a magic number constant would be better (some hex value like a null byte defined as a constant that equates to NIL perhaps? `define('NIL', '0x00')` or some such)

Then if someone

[2016-05-20 20:36] jdreesen commented on #91
If you develop in a PHP 7 env but your production env is PHP 5 you should set [Composer's `platform` config](https://getcomposer.org/doc/06-config.md#platform) to the PHP version of your prod system and Composer will only install versions of the libs compatible with it ;)

[2016-05-20 21:04] ahungry commented on #91
That's a great suggestion (thank you!) but the fact isn't just that the package changed the dependency - version 1.2 makes use of PHP7 only features, which means it is not backwards compatible with version 1.0 (environments that can run 1.0 will never be upgraded to 1.2 - luckily thanks to composer, but the versioning itself should handle this properly, unless there is just no desire to follow the

[2016-05-20 22:16] jdreesen commented on #91
Well, I'm not the author/maintainer of this package but I tend to agree regarding a major PHP version change.

However I just looked in the `composer.json` and it says `"php": ">=5.6.0"` for version 1.2 / master. In addition the travis builds seems to run fine with PHP 5.6 too and thus I'm not sure why you think that PHP 7 is required for the latest version?

Regarding the rise of the PHP minor ve

[2016-05-21 02:37] ahungry commented on #91
Ah that was my mistake (my own use case happened to be PHP7 on one machine PHP 5.5.9 on the Ubuntu 14.04 LTS machine - I completely forgot about PHP 5.6).

Still, I think altering the minimum viable PHP version should warrant more than a minor version bump on this end.

[2016-05-21 06:26] lstrojny commented on #91
I have no plans so far to abandon 5.6 support. Closing for now.

[2016-05-21 06:26] #91 closed

[2016-05-21 06:28] lstrojny commented on #81
@hoesler I have given this some thought and I will not break BC on this. If this is an important use case to you, feel free to open a PR adding a `first_or_throw`/`last_or_throw`.

[2016-05-21 06:28] #81 closed

[2016-05-21 20:47] ahungry commented on #91
The issue was that you abandoned sub-5.6 support without doing a major version bump

[2016-05-21 21:37] jdreesen commented on #91
The real issue is using unsupported PHP versions ;)

[2016-05-29 12:38] soutoner commented on #88
I have an unified version of the docs with a doctoc-generated TOC. I you want I can make a pull request.

[2016-05-30 09:31] lstrojny commented on #88
Sounds good, go ahead!

[2016-05-30 11:35] #88 closed

[2016-05-31 06:24] lstrojny commented on #66
Closing.

[2016-05-31 06:24] #66 closed

[2016-05-31 06:25] lstrojny commented on #65
No activity, closing.

[2016-05-31 06:25] #65 closed

[2016-07-01 10:51] ajb-in opened #95 "with has undocumented behaviour"
This will not work as documented:

[code]

[2016-07-01 11:39] lstrojny commented on #95
@ajb-in thank you, good point. Have a look at the commit, what do you think?

[2016-07-01 12:10] ajb-in commented on #95
`with` should behave like `with_value`, period. If the value is callable, calling it should be the job of `with`'s second argument.
Instead of `with_func($f, $g)` you could have `with($f, partial_any(compose($g, …)))`.
Of course that breaks BC, but it could be a thing for the next major. No strong opinion on how to handle the transition.

[2016-07-01 12:31] ajb-in commented on #95
Of course I'm an idiot; 496f677 does _just that_. LGTM.

[2016-07-01 13:03] lstrojny commented on #95
Fixed in 1.2.1

[2016-07-01 13:03] #95 closed

[2016-07-01 14:49] shadowhand opened #97 "HHVM usage broken"
Started getting this error on our Travis builds, first seen today:

[code]

Full build is here https://travis-ci.org/equip/assist/jobs/141634731

[2016-07-01 14:49] shadowhand commented on #97
cc @ameech @elazar @dolfelt

[2016-07-01 15:13] elazar commented on #97
Potentially related: facebook/hhvm#4858 and facebook/hhvm#6954

[2016-07-02 21:20] dantleech commented on #97
Just to note this works on the 1.2.0 branch but not on 1.2.1.

[2016-07-07 21:51] soutoner commented on #78
What about something like [Underscore's chain](http://underscorejs.org/#chain)? I have thought about an implementation in which a class that wraps the collection is created and all the functions provided by the library are implemented as method of that class. In that way, IDEs will provide auto completion.

Something like:

[code]

The drawback is that when a new function is defined in the library

[2016-07-07 22:03] elazar commented on #97
Looks like b09b096ecc15758991fa3d99488b036d8fcf60f6 was the offending commit.

[2016-07-07 22:15] elazar commented on #97
From what I can gather, the check for use of typehints with variadic functions is determined at compile time by HHVM. As such, the runtime check currently present in `src/Functional/Compose.php` has no effect.

[2016-07-07 22:21] FabioBatSilva commented on #78
BTW, I'm working on a streams API based on the java 8 implementation : https://github.com/FabioBatSilva/pipeline-streams

[2016-07-08 08:10] #97 closed

[2016-08-04 20:00] MazeChaZer opened #100 "hashMap"
For my own use I wrote a function called `hashMap` to create associative arrays:

[code]

[code]

Is this something that would also be useful to others? If yes, I can prepare a proper pull request. Of course it can be named differently if there is a better term for what this function does.

[2016-08-05 15:50] lstrojny commented on #100
Looks useful! @ajb-in do you have a good idea for a name?

[2016-08-05 16:10] ajb-in commented on #100
No good ideas, other than I'd refer to "keys" rather than "hashes" (and would probably reflect that in the name of the argument).
Also, note that this is equivalent to `array_combine(map($collection, $callback), $collection)`

[2016-08-05 17:29] MazeChaZer commented on #100
Thanks for the feedback! @ajb-in The function is not exactly equivalent to your example because apart from the keys the values can also be mapped in the callback.

[code]

Your example describes another use case: Mapping only the keys. This would have been sufficient for my needs, even better; perhaps this is also a useful function? A better name for `hashMap` could be `keyValueMap` and your examp

[2016-08-08 07:36] lstrojny commented on #100
What about {{mapHash()}}?

[2016-08-08 08:02] MazeChaZer commented on #100
@lstrojny Sounds good to me. I like that even better than the `keyValueMap` approach.

[2016-08-10 12:39] MazeChaZer commented on #100
Are we at a consens here? Should I start implementing/testing/documenting the `mapKeys()` function?

[2016-08-10 13:41] ajb-in commented on #100
I for one would use `mapKeys` for a different idea (something akin to [Haskell's `mapKeys`](https://hackage.haskell.org/package/containers-0.5.7.1/docs/Data-Map-Strict.html#v:mapKeys)).
But then again, I don't have a better name for this one, and can't find a precedent on the literature apart from [the Schwartzian transform](https://en.wikipedia.org/wiki/Schwartzian_transform).

[2016-08-10 14:08] MazeChaZer commented on #100
What about `reindex()`?

[2016-08-10 15:55] lstrojny commented on #100
Sounds good to me

[2016-08-10 16:47] MazeChaZer commented on #100
Ok, I'm starting to work on this, if we find an even better name we can still change it later on.

[2016-08-10 17:02] MazeChaZer commented on #100
Mh, what is supposed to happen if the callback produces  duplicate keys? Should an exception be thrown  or should later values just overwrite previous values that had the same key? I tend to throw an exception.

[2016-08-10 17:08] MazeChaZer commented on #100
I looked a little further into this. The PHP builtins `array_flip()` and `array_combine()` overwrite previous values which had the same key. Furthermore I saw that in this library exceptions are only thrown for invalid arguments. So I guess the first alternative, just overwriting previous values, makes more sense after all.

[2016-08-10 19:14] ajb-in commented on #100
+1 on `reindex`.
Also agree with your dup key resolution.

[2016-08-11 08:43] docteurklein opened #101 "[RFC] provide a `not` function"
Is it me or one currently can't invert a boolean-returning function ?

I'd like a `not` function looking like:

[code]

see https://3v4l.org/G3vtd for a working impl.

Do you think it's a good idea?
If yes, I can try to make a PR.

Thanks!

[2016-08-11 09:30] lstrojny commented on #101
I like it. But congratulations, you are traveling uncharted territory: operator functions. I can think of more: eq(), neq(), etc. So that one can write `filter($list, and(neq('foo'), neq('bar'))` and so on. Interested on working on the whole topic?

[2016-08-11 10:19] docteurklein commented on #101
Interesting topic indeed :)

I can try to implement a few of them, but this could be an iterative work, right?
Do you have an idea of a separate namespace for that?

Small note, we need to alias `and` and `or` functions because they are reserved keywords.

[2016-08-11 11:42] docteurklein commented on #101
@lstrojny another question regarding an implementation detail  of `neq`.
Let's say we have implemented `not` and `eq`.

Should we implement `neq` by simply composing `neq = not('eq')` ?
Or should we use directly the `!=` operator?

[2016-08-16 17:53] MazeChaZer commented on #100
Thanks for the discussion

[2016-08-16 17:53] #100 closed

[2016-08-23 11:24] lstrojny commented on #101
@docteurklein I always try to implement the most basic version of a function, rather not reusing existing functionality but full reimplementing them. Leads to uglier code but that’s OK for primitives.

[2016-08-23 11:49] docteurklein commented on #101
agreed. I ended up using the native operator (much easier)

[2016-08-25 15:37] FoxxMD opened #105 "sort is not reliable"
Every few (between 3 and 10 times) I use sort() comparing floats the returned array is in backwards order.

[code]

`weight` are floats. I expect the returned array to be in ascending order. It unexpectedly comes back in descending order every so often.

[2016-08-25 16:36] FoxxMD commented on #105
Nevermind I'm an idiot

[2016-08-25 16:36] #105 closed

[2016-10-21 14:20] Erikvv opened #108 "zip: keys are taken from the first array"
I would expect it to look in all arrays like it does in lodash. And fill the missing indexes with null like it does now.

I can provide a fix if you want, or maybe we can define another function, maybe 'zipLongest'

[2016-10-22 14:00] lstrojny commented on #108
Sounds indeed like a bug/oversight when implementing the original function. Happy to have a fix for it.

[2016-10-25 07:34] docteurklein opened #110 "[RFC] `pick` should be renamed `picker` to be consistent with `invoker`"
hey there :)

I'd like to have a function that returns the value of an array at a given index **for each element of a collection**. like `invoke` does currently for collections of objects).

I think `pick` should be renamed to `picker` (like `invoker` respectively)
and a new `pick` function would `map` `picker` to a collection.

Now I know renaming things is a big BC break so I wouldn't bother nam

[2016-10-25 07:35] docteurklein commented on #110
currently I have to do something like:
[code]

[2016-10-25 18:09] krtek4 commented on #108
Actually `zip` has various implementation regarding this in multiple languages.

- the `array_map` trick in PHP (passing `null` as the function) does what you ask
- Ruby : add `nil` values ( http://apidock.com/ruby/Array/zip )
- Python: elements are truncated ( https://docs.python.org/2/library/functions.html#zip )
- Haskell: elements are truncated ( http://hackage.haskell.org/package/base-4.9.0.0

[2016-10-26 11:01] lstrojny commented on #108
OK, I am convinced. I changed my mind. Let’s add a `zip_all()` function (or some other name).

[2016-11-09 14:22] Erikvv opened #113 "Flat map with key preservation"
I found myself in need of such a function

So you could transform a list to a dictionary like so:

[code]

Naive implementation would be something like this:

[code]

Would this be useful?

[2016-11-09 20:13] lstrojny commented on #113
Are you able to show me the concrete use case? Reason I am asking is that I am deeply regretting implementing `map()` the way it’s implemented (passing the and the collection) which is unfortunately totally wrong. This is why I would like to not do the same for `flatMap()`.

[2016-11-09 22:13] Erikvv commented on #113
The simplified use case is calculating statistics in SQL/DQL like the following:

[code]

This produces a table:

[code]

which I transform to a map using `flatMapWithKeys()` or a `foreach` loop:

[code]

Another part of the system can then dereference this map to show the metrics for the departments which it requested.

For this use case I do not need to pass the key nor the collection to the cal

[2016-11-11 01:21] Erikvv commented on #113
It seems this is a superset of the existing reindex function.

[2016-11-11 11:19] lstrojny commented on #113
This is certainly less efficient but should still be working

[code]

What I could imagine is adding function like this:
[code]

What do you think?

[2016-11-20 17:59] dantleech opened #114 "HHVM incompatiblity with 1.4"
[code]

As encountered in: https://travis-ci.org/phpbench/phpbench/jobs/177463602#L402

1.2.4 works fine

[2016-11-22 09:10] lstrojny commented on #114
This is the upstream bug for that issue: https://github.com/facebook/hhvm/issues/6954

[2016-11-24 14:31] dyorg opened #115 "`group` index of each group should be start on zero"
Why new array of groups keep old index?

[code]

[2016-11-24 19:53] lstrojny commented on #115
@dyorg it’s a design decision a made relatively early, that I want to preserve shape as much as possible as it’s always easy to *not* have that. What you can do is simply this:

[code]

[2016-11-24 19:53] #115 closed

[2016-11-24 21:40] #108 closed

[2016-11-24 22:07] Erikvv commented on #113
I've used array_combine like that yes, but it makes the code difficult to read.

I like the name of listToMap, very clear.

I like my own implementation better as you can visually distinguish the key and value. But that's a matter of taste.

[2016-11-25 09:01] lstrojny commented on #113
Another topic: assuming "+" as the only accumulator seems like a big leap, so I wonder if the signature should look like this:
[code]

The default accumulator could be an addition but I am not sure.

[2017-01-20 22:40] cullylarson opened #117 "[IHNFIWIWD] The compose function is executed left to right"
It's pretty unusual behavior for `compose` to execute left to right.  Every other `compose` implementation I've come across executes right to left.  One other issues is that this behavior isn't documented in `docs/functional-php.md`

[2017-01-20 22:52] cullylarson opened #118 "It would be nice if the library functions were all curried"
This would let you do things like:

[code]

[2017-01-21 15:38] lstrojny commented on #117
Indeed, that was a mistake when implementing it but it’s probably too late to fix that now in a sane way. The only way I would see is adding a function with a different name to do the right thing.

[2017-01-21 20:17] cullylarson commented on #117
Ah, yeah, that's a tough one.  A good solution might be to just be very explicit about that functionality in the documentation.  I only noticed it was happening after spending some time trying to debug a function that was using `compose`, and then looking at the code for `compose`.  I actually had to go back and change all of my other uses of `compose`.

[2017-01-31 16:53] mh-ovos opened #119 "Bundled functions in single file for production"
Hi,
I reckon that including ~70 files on every script execution might be a bit of a performance hit. Would you consider adding a bundled file with all functions inside as some kind of dist "build" and autoload just that file in composer.json definition?

[2017-01-31 21:45] lstrojny commented on #119
@mh-ovos can you check wether that’s actually true as it shouldn't matter with opcache enabled.

[2017-02-01 02:34] cullylarson commented on #118
Since PHP doesn't always treat functions as first class objects, you obviously can't just wrap a namespaced function in curry.  But, with a little extra cruft, you can still accomplish it like this:

[code]

[2017-02-01 02:35] cullylarson commented on #118
Though, looking at the argument order of many of the functions in the library, they wouldn't necessarily lend themselves well to curried use.

[2017-02-13 15:38] Erikvv opened #120 "filter/select by property"
[code]
much less verbose than:
[code]

It could work with multiple properties too, plus nesting. Like graphQL.

The name, alternatively, could be 'where'.

Good idea?

Ive created an implementation here: https://github.com/Erikvv/array-utils-php/blob/master/src/Ve/Where.php

It's a bit too large to be contained in one function.

[2017-02-13 16:51] lstrojny commented on #120
I think a `where()` function would be an awesome addition. Wanna work on a pull request?

[2017-02-22 22:24] cullylarson commented on #120
If you add it, I'd suggest changing the order of your parameters so that your 'where' properties are the first param, and your data param is second; and also, curry it.  This would let you do something like:

`$selectByLars = selectByProperty(['name' => 'Lars']);

$larsPeople = $selectByLars($people);`

_OR_

`$notEmpty = function($x) { return !is_empty($x); };
$haveLars = compose(
  $notEmpty,

[2017-02-23 10:23] Erikvv commented on #120
Switching the argument order would be inconsistent with the other functions.

The same for currying by default: none of the other functions do this. You can still use a curry function.

[2017-02-25 17:47] leocavalcante opened #124 "Comparison operations API"
About implementing comparison operations as functions, before I'd like to discuss the API first.
Operations: http://php.net/manual/en/language.operators.comparison.php

Suggestions are:

| PHP Doc Name | API |
| --- | --- |
| Equal | `equal`, `equals`, `eq` |
| Identical | `identical`, `strict_eq`, `seq` |
| Not equal | `not_equal`, `not_equals`, `neq` |
| Not identical | `not_identical`, `not_str

[2017-02-25 23:11] lstrojny commented on #124
Here are my preferences:

| PHP Doc Name | API |
| --- | --- |
| Equal | `equal` |
| Identical | `identical` |
| Not equal | `not_equal` |
| Not identical | `not_identical` |
| Less than | `less_than` |
| Greater than | `greater_than` |
| Less than or equal to | `less_than_or_equal` |
| Greater than or equal to | `greater_than_or_equal` |
| Spaceship | `lexicographic_compare ` |

[2017-02-26 01:43] leocavalcante commented on #124
Ok, seems good, just crossed my mind that would be better to use full names and let abbreviations for `use` alias:
[code]

[2017-03-14 21:31] MazeChaZer opened #126 "Implode/Join for lists"
I may be missing something here, but is there some kind of `join` function that behaves like `implode` but returns a list?

[code]

[2017-03-15 11:57] lstrojny commented on #126
There isn’t one yet. Feel free to contribute one!

[2017-03-15 11:58] #124 closed

[2017-03-15 12:36] MazeChaZer commented on #126
Great! I will look into it when I have the time.

[2017-03-19 21:41] #126 closed

[2017-03-25 13:14] BrainMaestro opened #129 "partition function"
Would a partition function similar to the lodash [one](https://lodash.com/docs/#partition) be something useful here? I can work on it.

[2017-03-25 13:15] #129 closed

[2017-03-29 09:34] BrainMaestro opened #130 "flip function"
Similar to ramda's [flip](http://ramdajs.com/docs/#flip). Sometimes it is beneficial to flip the argument order of a function. Is this something that would be useful in this project?

I would be willing to implement this. Thoughts?

[2017-03-30 11:46] lstrojny commented on #130
Sounds like a cute idea!

[2017-04-04 13:57] BrainMaestro opened #136 "Separate namespace for functions that are curried by default"
Like #118 suggested, it would be a good idea to curry functions by default. Since we don't want to alter the already existing functions, there could be a namespace `Functional\curried` where all the curried versions of the functions live. We could even use the flip function from #132 if it gets merged to flip the order to make them easier for curried use.

Thoughts?
/cc @lstrojny @cullylarson

[2017-04-04 18:53] cullylarson commented on #136
That sounds like a good solution.  It would even let you deprecate the old functions.  One downside would be autoloading a whole extra set of files in `vendor/autoload.php`.  Other options would be: just keep things the way they are with this library and start a new library for curried functions, or join up with another project like [widmogrod/php-functional](https://github.com/widmogrod/php-funct

[2017-04-05 13:44] MazeChaZer opened #137 "sortBy()"
I would really like a sort function with a callback that returns the key by which the list is sorted:

[code]

This would sort a list of users by their last name.

[2017-04-06 09:49] BrainMaestro commented on #136
Yeah on second thought, php might make this a little too complicated. Since we will be mostly unable to reuse the initially defined functions. Thanks for the response though, I'll look into the other suggestions.

[2017-04-06 09:49] #136 closed

[2017-04-10 07:43] #130 closed

[2017-04-12 13:44] MazeChaZer commented on #137
Ok, after prototyping a little I decided to stop pursuing this idea.

This is how far I got:

[code]

This works, but only if the callback result is a valid key for an associative array. So e.g. we can't use floats, they would have to be casted to string combined with the correct sort flags.

After some further research I found the spaceship operator `<=>` which was introduced in PHP 7, which make

[2017-04-12 13:44] #137 closed

[2017-05-04 10:54] Ocramius opened #138 "Ellipsis constant is defined as a function?"
Unsure if this is a valid report yet, but PHP 7.2 (current `master` branch of PHP) [reports an error in my builds](https://travis-ci.org/Ocramius/ProxyManager/jobs/222789367#L370) due to [this line](https://github.com/lstrojny/functional-php/blob/f31a0beb08ad6c6fe0d7a7899efb7d868ae708eb/src/Functional/PartialAny.php#L87), copied for reference:

[code]

Apparently, that defines a constant that is a

[2017-05-04 12:48] lstrojny commented on #138
Hmmm, it looks like I can no longer register a resource as a constant 👎
That was such a cute trick to mark a parameter as partial but it looks like I have to find something better

[2017-05-07 13:53] SerjoA opened #139 "hi, a question, where did the tail_recursion function dissapeared"
btw great lib, looks awesome

[2017-05-07 18:07] mfdj commented on #139
https://github.com/lstrojny/functional-php/blob/master/src/Functional/TailRecursion.php?

[2017-05-08 09:07] #139 closed

[2017-05-08 09:12] lstrojny commented on #138
Attempt to fix this issue: 7633c9f235a8946bb9e36f994010e018806f8ce8

[2017-05-08 09:24] Ocramius commented on #138
R U TROLEING THE ENGINE?

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Mon, May 8, 2017 at 11:12 AM, Lars Strojny <notifications@github.com>
wrote:

[2017-05-08 09:27] lstrojny commented on #138
@Ocramius I try but without any luck. So `random_bytes()` it is.

See 5ed5ee0

[2017-05-08 09:28] lstrojny commented on #138
Fixed in latest master. Thanks @Ocramius !

[2017-05-08 09:28] #138 closed

[2017-05-08 09:29] Ocramius commented on #138
@lstrojny thanks!

[2017-05-09 20:38] MarcoWorms commented on #117
Is it too harmful to break the current interface and make `compose` do right-to-left composition which would be the expected behaviour and add a `pipe` function that does the current left-to-right composition? Ramda (https://github.com/ramda/ramda) does it this way and it seems really sane.

[2017-05-09 20:42] MarcoWorms commented on #101
The native operator is handy but it's not a function. When refactoring some code into a function pipeline with `compose` it's much better to have a `not` function. Also you can achieve a declarative code style that doesn't need native operators when you have functions for everything :D

[2017-05-09 21:50] semmel opened #140 "[DOC] flip looses the arity of the function"
Thus automatic currying a flipped function is not possible. Instead one needs to specify the arity using `curry_n`.
I guess that behavior should be mentioned in the documentation.

I wonder if argument flipping is useful at all for `n ≠ 2`, because optional parameters on third and higher places will suddenly become compulsory.
Especially when providing a curried, data-last version of *functional-p

[2017-05-09 23:18] lstrojny commented on #140
Good point. I am not sure this is fixable in a way that will still perform well (e.g. without reflection). Give me a bit of time to think about it but at least mentioning it in the docs is something we should do.

[2017-05-09 23:18] lstrojny commented on #119
Closing for now

[2017-05-09 23:18] #119 closed

[2017-05-09 23:19] lstrojny commented on #117
@MarcoWorms I wouldn’t wanna do this for 1.x but I could very well imagine doing this for 2.x.

[2017-05-09 23:28] lstrojny opened #141 "TODOs for version 2.0"
## Mission
 - Fix all the things that I got wrong in 1.x
 - Avoid accidental breakage as much as possible

❗ Dangerous
👍 Easy

## Topics
 - ❗ Fix order of compose() arguments (#117)
   - In 1.x
     - Introduce `compose_2` that fixes the argument order
     - Deprecate `compose`and ask people to migrate to `compose_2`
     - Introduce `pipe` that does what `compose` does in 1.x
   - In 2.0
     -

[2017-05-09 23:29] lstrojny commented on #110
`pluck($data['translations'], 'locale')` should work, no?

[2017-05-09 23:30] lstrojny commented on #114
Closing

[2017-05-09 23:30] #114 closed

[2017-05-09 23:40] #110 closed

[2017-05-09 23:41] lstrojny commented on #117
Will be addressed with 2.0

[2017-05-09 23:42] lstrojny commented on #120
Closing because of inactivity

[2017-05-09 23:42] #120 closed

[2017-05-09 23:42] lstrojny commented on #113
Closing because of inactivity

[2017-05-09 23:42] #113 closed

[2017-05-09 23:43] lstrojny commented on #118
I can’t think of a way to do that in a way that performs well, it’s rather an engine feature than something I would do with this library. So until somebody convinces me with a prototype, I don't want to work on this.

[2017-05-09 23:43] #118 closed

[2017-05-10 03:17] MarcoWorms commented on #141
Suggestion: curry all functions by default (https://github.com/lstrojny/functional-php/issues/136) and leave the data for the last argument (much like ramda, they really did get that right)

Also, for the `value, index, collection` problem i wouldn't say it's an issue. It's just an edge case that can be easily worked around, I wouldn't break this clean interface because of some edge cases :)

[2017-05-10 05:59] jdreesen commented on #141
A `unary` function that wraps a function of any arity in a function that accepts exactly 1 parameter would help to prevent those edge cases.

So you could do:
[code]

See: https://lodash.com/docs/4.17.4#unary and http://ramdajs.com/docs/#unary

[2017-05-10 10:44] lstrojny commented on #141
@MarcoWorms we had a couple of requests for auto-currying (#136, #41, #118) but my stance is that I can’t think of a way to do this efficiently. This is why I am not considering this for 2.0 right now.

@jdreesen indeed it can be worked around but it’s just not a proper map as found in most functional languages. Even PHPs own `array_map()` does it correctly. So while handing in value, key and coll

[2017-05-16 14:33] leocavalcante commented on #101
This could be closed, I guess.
https://github.com/lstrojny/functional-php/blob/master/src/Functional/Not.php

[2017-05-16 14:35] docteurklein commented on #101
right! thanks

[2017-05-16 14:35] #101 closed

[2017-05-29 07:06] Erikvv commented on #141
We've talked about this before but one of the pitfalls I keep stepping into is that when you do `filter` then `map` over an array with contiguous key it is no longer contiguous.

[2017-05-31 21:24] redaxmedia opened #142 "Warning for PartialAny.php on line 87 (PHP Nightly)"
Hello,

since I enabled warnings for PHPUnit, I got this:

PHP: 7.2.0-dev (cli) (built: May 27 2017 22:53:52) ( ZTS )
Link: https://travis-ci.org/redaxmedia/redaxscript/jobs/236892403

Best regards
Henry

[2017-06-02 10:05] lstrojny commented on #142
Can you try master? This should be fixed in the latest version of functional

[2017-06-02 11:42] redaxmedia commented on #142
Sorry but I don't use your dependency by myself.

I forced the `dev-master` and these are the results:
https://travis-ci.org/redaxmedia/redaxscript/builds/238712732

[2017-06-02 11:42] #142 closed

[2017-06-02 16:51] lstrojny commented on #142
No worries, glad it is fixed.

[2017-06-08 23:16] redaxmedia commented on #142
Please create a new release :-)

[2017-06-15 10:08] mgiraud opened #143 "[FEATURE] Count Where"
Hi,

Is there any way to achieve a countWhere equivalent with the current methods ?

The countWhere method would take a collection and a callable;
If the callable returns true then a counter is incremented.

The countWhere method returns the counter.

Thx

[2017-06-15 10:30] lstrojny commented on #143
@mgiraud Would {{count(filter(…, …))}} work?

[2017-06-15 11:09] mgiraud commented on #143
Yes, it's just a little bit more expensive

[2017-06-15 12:28] #143 closed

[2017-07-04 19:50] Superpat opened #146 "Pluck error with __get()"
Example:

[code]
The output of this is: array(1) { [0]=> NULL }

[2017-07-04 19:52] Superpat commented on #146
The main problem is ``isset($element->{$propertyName})`` returns false.

[2017-07-04 20:20] jdreesen commented on #146
Why not just implement `Model::__isset()`?

[2017-07-04 20:24] Superpat commented on #146
Yep, completely forgot about __isset, solves the problems, thanks!

[2017-07-04 20:24] #146 closed

[2017-07-06 07:49] lstrojny commented on #146
To follow up on that: pluck() will not be perfect and there will always be certain kind of objects that behave weirdly with it. Nevertheless, I am glad your found a way to solve the issue.

[2017-08-02 19:31] magbicaleman opened #147 "Technically a Pipe"
https://github.com/lstrojny/functional-php/blob/master/src/Functional/Compose.php

[2017-08-02 22:34] lstrojny commented on #147
Indeed. See #141

[2017-08-02 22:34] #147 closed

[2017-08-06 10:08] MortalFlesh opened #149 "Possible improvements"
Hey I really like this library. I'm quite interesting in functional programming and this is much help in PHP :) But since I quite know php and its "bad parts" I came up with few possible improvements, if you were interested.

For example, if you need to pass one of your functions (or any other) as a parameter, you need to do it by its `fully qualified name` (in `string`) which sucks. So I tried to

[2017-10-29 15:49] ianchanning opened #151 "More 'haskelly' definition of Flatten"
In [Flatten][1], the underlying code seems rather of an imperative nature.

As I understand, flattening a list in Haskell (from [Learn You a Haskell chapter on Monoids][2]), is simply mapping `concat` over the list. The equivalent in PHP would be this:

[code]
That seems incredibly neat. Here's some basic testing I did in Psysh:

[code]

The major problem with this is that it just does one level o

[2017-10-30 14:50] lstrojny commented on #151
Thanks for the observation @ianchanning. The implementation of quite some functions is not very functional but rather quite imperative. I don't want to change the definition of Functional PHP’s as it’s used in real world projects and B/C breaks are a thing. So we can either add another function or there might be one that fits your use case already. Did you check out flat_map() with an identity fun

[2017-10-30 15:01] ianchanning commented on #151
Apologies, my intention wasn't to change the output of the function. It was mostly just because I was curious about it. My rather basic suggestion here would need definitely need extending so that it would give the exact same output as the current `Flatten`. But it would perhaps be nice to have a lower level method that just did the single flatten (with a separate name as you suggest) and then bui

[2017-12-14 05:03] tPl0ch commented on #141
@lstrojny What about lazy evaluation? Is that planned?

[2017-12-20 10:51] lstrojny commented on #141
@tPl0ch I have no vision around that for now. Do you have an idea on how to do that?

[2018-01-29 04:04] redbeardcreator commented on #141
I don't know if I like the idea of changing parameter order. To me personally, the order seems correct. It's closest to `$collection->map(function () { /* ... */ })`. I'd live with either. However, since the parameter order is currently `(collection, function)`, I'd be leery of changing it.

I want to say `iterable` instead of `array`, but I'm still mostly stuck on PHP 5.6 and haven't had a chance

[2018-01-29 09:28] lstrojny commented on #141
@redbeardcreator on readability: I would love to read it as "map foo over items" but I am not yet sure what the economics of such a change would be. My hunch is, that I want to provide some sort of conversion tool to support the migration. Already out of plain self-interest as we use it quite a bit at @InterNations.

[2018-02-01 03:42] redbeardcreator commented on #141
@lstrojny, a conversion tool would help a lot. Would you want to create one from scratch or do something like a fixing sniff for [PHP_CodeSniffer](https://github.com/squizlabs/PHP_CodeSniffer)?

[2018-02-01 22:46] lstrojny commented on #141
@redbeardcreator I haven’t thought about it a lot yet but I probably need something like https://github.com/Roave/BetterReflection to safely convert e.g. `map` invocations.

[2018-02-05 10:33] ragboyjr commented on #141
@lstrojny regarding auto currying, how hard would it be to just maintain curried versions of certain functions in a separate namespace under `curried` or something similar?

`use function Functional\{map, curried\map};

[2018-03-16 16:53] phanan opened #156 "Misleading documentation for invoke_first and invoke_last"
The documentation for `invoke_first` and `invoke_last` says, in that order:

and

However, the implementation of these functions seems to say otherwise. Take `invoke_first` as an example:

[code]

This means we're calling `$methodName` on the first **applicable** object in the collection. Which means, for example, we have `['foo', 'bar', $objectWithMethodName]`, then `$objectWithMethodName->$metho

[2018-03-22 10:48] lov3catch opened #157 "php-ds?"
Hey, sorry if question are little stupid.
But, can anyone told what about compatibility functional-php and php-ds.

PS: thx for great work, guys.

[2018-03-23 14:06] lstrojny commented on #157
I know nothing about php-ds but from having a glimpse, as long as it’s iterable, Functional PHP will support it.

[2018-03-26 11:48] lov3catch commented on #157
Awesome, thank you.

[2018-03-26 11:48] #157 closed

[2018-05-29 14:22] 3amprogrammer commented on #149
I love the idea of consts. To be honest this is exactly why I am here, as I wanted to create a similar issue. What are your toughts @lstrojny ?

[2018-06-27 02:57] gvlasov opened #162 "Feature request: sortBy function"
Sorts an array by the value of a function of its elements:
[code]

[2018-07-04 07:41] lstrojny commented on #162
Sounds like a plausible use case, especially if one wants to sort a list of objects by e.g. a weight property. Would you you be interested in working on a PR?

[2018-07-04 10:02] gvlasov opened #164 "Function to build associative arrays from a list of keys and a function to produce its values"
[code]

I'm not sure what that function would be called, I admit that it should have a better name than `create_map`

[2018-07-04 18:17] phanan commented on #164
`create_assoc`? Anw, what might be a use case for this?

[2018-07-06 07:01] gvlasov commented on #164
@phanan Sorry, I messed up explaining what I want.

Basically what I suggest is an analogue to [Yii2's `ArrayHelpers::map`](https://github.com/yiisoft/yii2/blob/master/framework/helpers/BaseArrayHelper.php#L574). It doesn't do what `map` does in functional programming (i.e. taking a list and returning another list), but rather it takes:

- an input list
- a function to produce keys of the output l

[2018-07-06 08:58] lstrojny commented on #164
`array_combine(map(…, …), map(…, …))` is not good enough?

[2018-07-06 10:32] phanan commented on #164
Personally, I don't see a big gain :/ Btw, your `create_assoc`'s example should have been written this way for a fairer comparison:

[code]

As you can see, `create_assoc` is one LoC longer ;)

[2018-07-06 10:35] gvlasov commented on #164
@phanan It is not about LoC, it is about the amount of nested expressions ;;;)))

Btw, if you rewrite my `create_assoc` example, then consider doing the same for `array_combine`:

[code]

[2018-07-06 10:42] gvlasov commented on #164
Ok, let's wait several months till a few people who haven't already searched for a simpler way to build associative arrays in PHP start upvoting this coming via Google, if you don't think this suggestion is useful.

[2018-07-09 15:48] lstrojny commented on #164
Another option that came to mind was to use reindex:

[code]

But I like that the `create_assoc` reads so well. Let me ponder this a bit longer

[2018-07-30 13:20] poissob opened #167 "if_else with more than 1 argument"
Hello,

I was wondering why the `if_else` function doesn't take more than one argument?
In my case, I'd like to be able to call a function with multiple arguments like so:
[code]

Is there any particular reason for this not to work currently?

Regards,

[2018-08-11 10:03] zanemmm commented on #167
yes, the `if_else` function just take one argument.

I think this function may help you
[code]

[2018-08-11 13:45] lstrojny commented on #141
@ragboyjr hard to tell but I guess they could be generated so it might work

[2018-09-16 06:12] drupol opened #168 "Flatten array performance"
Hello,

I've run a benchmark on `Functional\flatten()`. I wanted to compare it to the function I'm using to flatten an array.

Find the benchmark here: https://3v4l.org/cXDe6

As I can see, the first method (`flatten1()`) is a bit faster in almost every cases.

Let me know if you would be interested to have a PR and include it.

Thanks!

[2018-09-16 09:47] phanan commented on #168
Won't `flatten1()` break if any of the inputs is a `Traversable`, which is correctly handled by the current implementation?

[2018-09-16 10:45] drupol commented on #168
I will check.

[2018-09-16 10:50] drupol commented on #168
You're perfectly right, see the example: https://3v4l.org/3db8j

I guess I will close this issue :-)

[2018-09-16 12:00] drupol commented on #168
I've updated the example, it now works with a Traversable as well... and it's most of the time a bit faster.

Link: https://3v4l.org/VFV2h

[2018-09-16 12:17] phanan commented on #168
Except that you're incorrectly typecasting `$input` into `array` instead of using the proper [`iterator_to_array()`](https://secure.php.net/manual/en/function.iterator-to-array.php) function. Anyway "most of the time a bit faster" doesn't really justify a PR IMHO :)

[2018-09-16 13:04] drupol commented on #168
That's true :-) Thanks for the tips.

[2018-09-16 13:04] #168 closed

[2018-09-17 02:47] phanan opened #169 "PHP 7?"
The support for PHP 5.6 (and even 7.0) is ending by [the end of this year](https://secure.php.net/supported-versions.php). Should we make the lib PHP 7.1? Happy to work on it if positive.

[2018-12-04 14:02] ftaiolivista opened #181 "functional shortcut for array_reduce?"
Hi,

I don't see a function tha wrap array_reduce (like map for array_map).

[2018-12-04 15:17] lstrojny commented on #181
`reduce_left` and `reduce_right` should have you covered 👍

[2018-12-04 15:17] #181 closed

[2019-02-02 10:50] Kaishiyoku commented on #169
So...what's the status? PHP 5.6 is now officially unsupported. It would be great to stick with 7.1

[2019-02-08 10:09] #151 closed

[2019-02-08 10:10] lstrojny commented on #169
My thought was to require PHP 7.x for functional 2 where I plan to fix various issues. See #141 for details.

[2019-02-08 10:10] #169 closed

[2019-06-18 10:30] lstrojny opened #188 "Write docs for converge()"
Now that #186 is merged, add it to the docs

[2019-06-18 10:32] lstrojny commented on #162
Closing for inactivity

[2019-06-18 10:32] #162 closed

[2019-06-18 10:36] lstrojny commented on #167
What we are missing is logical operator functions here:

[code]

Happy to get a pull request for those

[2019-06-18 10:36] #167 closed

[2019-07-10 09:28] shainegordon commented on #169
We use this library successfully on PHP 7.1 based composer projects.

However, since upgrading all our projects to PHP 7.3, while still wanting to this excellent library, we have had to fork the source for 1.9.0 so that we can comment out `define('Functional\\…', …());` in `PartialAny.php` to avoid
[code]
on composer's `dumpautoload` process

[2019-08-10 10:23] igneus commented on #141
Have you considered adding function name constants like [ihor/nspl](https://github.com/ihor/nspl) has? They are very handy when passing the library functions around.

[2019-08-10 12:10] lstrojny commented on #141
@igneus we have `Functional::…` class constants but introducing namespaced, top level constants seems reasonable

[2019-08-10 12:51] igneus commented on #141
I must admit I haven't noticed the `\Functional\Functional::...` constants before, but "namespaced, top level constants" would definitely make me happier.

[code]

[2019-08-10 16:29] ragboyjr commented on #141
This was also done in krak/fn library: https://github.com/krakphp/fn

The constants there are auto generated which make it very easy to keep in sync.

[2019-11-21 04:44] tzkmx commented on #164
What do you think about unfold?
https://github.com/apantle/fun-php/blob/master/README.md#unfold

It does already what you are looking for, if the passed function is unary is called with just the input as argument, and allows optional values or even a helper to pass around values between applied functions.

We use it to apply a bunch of different service calls to a single entry, like a tap but call

[2019-11-24 17:55] szepeviktor opened #199 "Porper file comment instead of full license text"
Are you open to replace this https://github.com/lstrojny/functional-php/blob/master/src/Functional/Contains.php#L2-L22 with proper file comment?

[code]

https://docs.phpdoc.org/references/phpdoc/basic-syntax.html

[2019-11-25 22:30] tzkmx commented on #164
So @gvlasov, my proposal it very similar to what you have requested, but instead of directly building the associative array, instead I'm returning a function that allow to build any number of associative arrays, based on the same set of rules with a single or a series of input values.

If there are some issues on my proposal, please let me know to make it more useful. My tests are copied from the

[2019-11-26 00:52] tzkmx commented on #141
I've just sent my proposal for a Pipe in order to get this functionality ;-) long before 2.0 :-)

[2019-11-29 15:30] lstrojny commented on #199
Of course

[2019-12-02 10:09] #199 closed

[2019-12-06 01:32] jasonmm opened #203 "The opposite of `select_keys`"
The [`select_keys` function](https://github.com/lstrojny/functional-php/blob/master/docs/functional-php.md#select_keys) is extremely handy. However, sometimes I only know which keys I don't want, or the number of keys I don't want is significantly smaller than those I do want. I did not see a function (for example, `remove_keys`) that would allow for that.

Is it expected that key removal be accom

[2019-12-06 11:16] Erikvv commented on #203
Maybe `omit_keys` is a better name

[2019-12-08 13:50] jasonmm commented on #203
I think `omit_keys` is a better name. Thank you!

Your suggestion also inspired me to think of `ignore_keys`, or [`dissoc`](http://clojuredocs.org/clojure.core/dissoc) (since the [`select_keys`](https://github.com/lstrojny/functional-php/blob/master/docs/functional-php.md#select_keys) function was [inspired by Clojure](https://github.com/lstrojny/functional-php/pull/145)) as possible names.

[2019-12-09 10:20] #203 closed

[2019-12-13 23:36] #140 closed

[2019-12-13 23:38] #188 closed

[2019-12-19 16:01] #156 closed

[2019-12-19 16:06] lstrojny opened #208 "Support psalm"
Add psalm annotations
 - [ ] Fix all issues found by psalm
 - [ ] Add `@psalm-pure`
 - [ ] Add `@psalm-assert`
 - [ ] Add proper support for more complex cases like `compose`

[2019-12-20 06:32] alexeyshockov commented on #208
Nice to see that you decided to go with Psalm! I think this is the best choice for a lib like yours, where templates and `@psalm-` specific annotations can really help end users.

I would like to help with the integration, if you don't mind (and if it's really needed...). Can start from the end of the list, to not mess with you.

[2019-12-20 12:39] alexeyshockov commented on #208
@lstrojny, please take a look at #209

[2019-12-20 16:43] lstrojny commented on #208
@alexeyshockov it would be terrific to collaborate on this topic. I've just pushed my current WIP, would you mind rebasing. Unfortunately it’s going to create a few conflicts, sorry about that.
How about we agree to mark an item before working on it, so we avoid duplicate work?

[2020-01-02 09:18] #117 closed

[2020-01-02 11:40] jkuchar commented on #208
@ondrejmirtes Could @phpstan 0.12 also benefit from this work to make this available to even broader user base?

[2020-01-02 11:52] ondrejmirtes commented on #208
@jkuchar PHPStan can benefit from generics annotations, not from "pure" or "assert" yet. Instead of assert annotations, right now a TypeSpecifyingExtension has to be written. There are already extensions like that for PHPUnit, for beberlei/assert and webmozart/assert.

Of course, an extension like this can be written to interpret these phpDoc annotations but no one did that yet.

[2020-01-16 19:06] KJSanchez opened #212 "Let the default callback argument to function some, none, and every be the identity function"
Bet this would be helpful when you have just an array of booleans.

[2020-01-22 08:47] foalford commented on #208
One little thing to add: [comment of variable length argument need a fix](https://github.com/lstrojny/functional-php/blob/a736d2573d217dbfb80773faf324f418cd5f5cb6/src/Functional/PartialRight.php#L17)

It should be `mixed ...$arguments`. Otherwise, psalm always reports an error.
[code]

[2020-03-15 15:46] lstrojny commented on #212
Same for `reject` and select `select` I guess? Sounds sensible to me

[2020-03-20 22:29] jasonmm commented on #212
I created pull request #214 in response to this issue. The pull request does not include the `reject` and `select` functions because doing so did not seem to be as useful. If the `id` function is the default $callback for `reject` and `select` it would mean that every item in $collection would be rejected or selected.

I was unable to think of a use case where this would be a common desired behavi

[2020-03-21 00:04] lstrojny commented on #212
`reject` with `id` would remove all truthy values while `select` with `id` would remove all falsy values. `array_filter` behaves like that. In conclusion I think I would add it.

[2020-04-07 02:05] jasonmm commented on #212
I think #214 closes this issue.

[2020-04-07 07:36] #212 closed

[2020-04-08 16:21] lstrojny opened #216 "Support .phpstorm.meta"
See https://blog.jetbrains.com/phpstorm/2019/02/new-phpstorm-meta-php-features/

[2020-05-11 15:24] jwdunne commented on #76
Ah, this library is awesome other than this.

Typical reduce/fold implementations take a callable with the following signature, where `a` and `b` are any types:

[code]

This *does* break consistency with other callbacks but that's intentional. In most cases, e.g `map` and `filter`, those functions are used with a unary function. With `reduce`, it takes a binary function. For `reduce` to behave as

[2020-05-13 09:33] lorenzomar opened #217 "pick should use array_key_exists instead of isset"
pick source code use `isset` to check if the given key is present in the collection. This implies that  NULL values are not valid but they should be. What about to use array_key_exists?

[2020-05-13 09:35] lstrojny commented on #217
The behavior difference would be in case you have a default value other than null specified, right?

[2020-05-22 04:20] lorenzomar commented on #217
Hey lstrojny, so sorry for the delay.
From a pragmatic point of view you're right but i think that the real difference is more conceptual. `isset` doesn't consider `null` as a valid value but there are cases where a collection contains a mix of null values, falsy value, etc and they are all right.
In that cases current implementation of `pick` fails.

[2020-05-25 10:43] lstrojny commented on #217
Makes all sense, should indeed be `array_key_exists`. Want to open a PR for it?

[2020-06-28 19:56] klimick commented on #208
Hi @lstrojny! Since 3.11.3 Psalm supports func_num_args for conditional types. You could use for compose but with compromises.

[code]

In this case you can type limited arguments count.
After the limit compose will return just callable.

A similar solution used by [rxjs](https://github.com/ReactiveX/rxjs/blob/76731a9a0d8793918de9e662698f091f3868845b/src/internal/util/pipe.ts)

[2020-06-30 13:39] lstrojny commented on #208
@klimick that’s a great idea, thank you!

[2020-07-07 06:43] videni opened #220 "Make these functions more expressive"
current we have to do something like this.
[code]

A better approach.
[code]

[2020-08-01 07:18] tzkmx commented on #220
This would require returning objects to chain methods, reminds me of Collection class of Illuminate (Laravel), as another consumer of this package, I don't get what enhancement that would give, but is clearly a lot of effort to implement.

[2020-08-04 21:50] lstrojny commented on #220
I don’t plan to change the API towards a collection API in the future

[2020-08-04 21:50] #220 closed

[2020-08-05 14:21] timfennis opened #223 "Functions can no longer be called `match` on PHP 8"
Since all functions are loaded by default projects using this library can not run on PHP 8 even when the `match` function is never used.

Since the solution is has to entail a BC break I'm assuming this has to be moved to version 2.0, although it would be great if there could be a PHP 8 compatible release without having to deal with even more BC-breaks.

[2020-08-06 10:55] #223 closed

[2020-09-28 15:34] danfraticiu opened #226 "[BUG] 1.14.0 breaks when opcache.preload is enabled"
Our system just crashed and burned in producation with this error after `composer update` install 1.14

[code]

We haven't looked much into it, but disabling opcache.preload fixed the issue. For now we will downgrade to 1.12.0.

Not sure what the reasoning for the `eval` block was, but I'm pretty sure it's not needed it as you could declare the function inside the `if`

ex: https://3v4l.org/Y8Ulb

[2020-11-29 12:53] acelaya opened #229 "PHP 8 Support"
Hello.

Is there any plans to support PHP 8? I can try to help if so.

[2020-12-16 23:35] phanan commented on #229
PHP 8 support has been added in #230.

[2020-12-16 23:35] #229 closed

[2020-12-16 23:39] phanan opened #232 "Proposal: Add compact()"
WDYT about adding a `Functional\compact()` function that removes all falsy values from a collection [à la lodash](https://lodash.com/docs/4.17.15#compact)? It can be named something like `compress()` as well if there's any concern regarding the existing `compact()` in PHP. I can give it a try.

[2020-12-17 10:57] lstrojny commented on #232
`select([0, false, 1])` should do that already, no?

[2020-12-17 11:10] lstrojny commented on #226
Fixed in 9e8363e3cb9db924327f51b5804f4dfba03605aa

[2020-12-17 11:10] #226 closed

[2020-12-17 12:32] phanan commented on #232
Yeah, as so should `array_filter` and the likes, but I'd argue a dedicated function is better, even if its internal implementation is exactly the same.

[2020-12-17 12:58] lstrojny commented on #232
That’s a too limited purpose in my mind that it would warrant an additional function. Let’s not add it! 😄

[2020-12-17 12:58] #232 closed

[2020-12-17 17:29] acelaya commented on #229
Cool! Do you know when a stable version supporting PHP 8 will be released?

[2020-12-18 07:05] Yangeok opened #233 "When will the php v8 be supported?"

[2020-12-18 07:18] jdreesen commented on #233
#229 #230

[2020-12-19 11:25] phanan commented on #233
@lstrojny Can you/I tag another release?

[2020-12-21 12:08] dlgoodchild commented on #229
It'd be great if someone could tag a release, please.

[2020-12-21 14:23] jkuchar commented on #208
Isn't this ready to be merged? (even incomplete) :-)

[2021-03-02 04:09] drupol commented on #220
@videni maybe this project would help you ? https://github.com/loophp/collection

Feel free to let me know if my comment is not welcome and I'll delete it straight.

Keep up the good work.

[2021-03-07 00:09] lstrojny commented on #233
Thanks to @phanan, #238 has landed which adds PHP 8 support

[2021-03-07 00:09] #233 closed

[2021-03-07 00:24] #217 closed

[2021-03-07 10:20] lstrojny opened #240 "Use php-quickcheck for testing"
Generative testing looks ideal for Functional PHP and https://github.com/steos/php-quickcheck looks like a good implementation.

### TBD
- [ ] weither to use it inside of PHPUnit or not. First instinct is rather not but the question is weither it's sensible to port tests like `FunctionalTest` and `AnnotationsTest`

[2021-05-08 18:20] drupol commented on #164
Hi,

Is [this](https://loophp-collection.readthedocs.io/en/latest/pages/api.html#associate) what you're looking for?

[2022-06-14 14:13] Maxdw opened #245 "`take_left(sequence_linear(date('Y') - 3, 1), 3)` infinite loop"
Expected take_left to support iterators without requiring fully iterating through it. Because sequence_linear returns an infinite iterator the take_left function is never able to provide the first $count of iteration values due to its use of array_to_iterator.

[2022-09-30 15:51] adrienbrault commented on #208
Hey, for anyone interested in psalm/phpstan support, there is an alternative to this library that has generics: [azjezz/psl](https://github.com/azjezz/psl).
- https://github.com/azjezz/psl/blob/2.1.x/docs/component/vec.md
- https://github.com/azjezz/psl/blob/2.1.x/docs/component/dict.md

[2022-10-25 06:12] mschop opened #246 "Add iterable to the method definitions"
Hi,

since PHP 7.1 one can use `iterable` type hint for everything that is iterable, including array and Traversable.

I know this lib shall also work for older PHP version, but adding iterable to the phpdoc-block would not hurt.

Currently IDE's and other tools throw warnings when I pass an iterable instead of an array or a Traversable.

Suggestion:

Add iterable to all doc-blocks.

Best Regards